@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }    
  .eventBox, .eventBox1, .eventBox2{
    width: 42vw;
    height: 45vw;
    justify-content: center;
    border-radius: 20px;
    z-index: 3;
    margin: 3vw;
    background-color: rgb(220, 255, 248);
    flex-wrap: wrap;
  }
  #eventPicture, #eventPicture1, #eventPicture2 {
    width: 42vw;
    height: 30vw;
    border-radius: 20px 20px 0 0;
    object-fit:cover;
    margin-top: 0;
  }
  a:link { text-decoration: none; }
  #title, #title1, #title2 {
    color: black;
    margin: 0.25rem 1rem;
    font-size: 1rem ;
    font-weight: bold;
    width: 36vw;
    height: 15vw;
  }
  .eventBox:hover, .eventBox1:hover, .eventBox2:hover {
    transform: scale(1.1);
  }
  .event-list, .event-list1, .event-list2 {
    display: flex;
    flex-wrap: wrap;
  }}