.form-list {
  display: inline-flex;
  flex-direction: column;
  width: fit-content;
}

form {
  /* background-color: darkred; */
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  padding-top: 0;
  width: 10rem;
}
#logOut,
#logoutForm {
  color: white;
}

input[type="file"] {
  max-width: 25ch;
}

[data-role="user"] button#logIn-btu {
  display: none;
}

[data-role="guest"] .navbar-toggler {
  display: none;
}

[data-role="user"] #logIn {
  display: none !important;
}
[data-role="user"] #signUp {
  display: none !important;
}

[data-role="guest"] #logOut,
[data-role="guest"] #logoutForm,
[data-role="guest"] button#edit_btn,
[data-role="guest"] button#deleteEvent_btn,
[data-role="guest"] div.participantsListBox,
[data-role="guest"] div.joined {
  display: none !important;
}

#logIn-btu {
  border-radius: 0.5rem;
  background-color: black;
  color: yellow;
}

.text-center {
  text-align: center;
}

.title {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: larger;
  margin: 0.5rem;
  text-align: center;
}

.small-font {
  font-size: 0.6rem;
}
